body{
    width: 100%;

}

  .logo
  {
    width: 100%;
    background-color: hsl(36, 100%, 50%);
    margin-top: -8px;
    margin-left: -8px;
  }

.topnav {
    display: flex;
    width: 100%;
    background-color: hsl(36, 100%, 50%);
    overflow: hidden;
    margin-top: -10px;
    margin-left: -8px;
    font-family: 'Montserrat';
    
  }

  .topnav a {
    flex: 1;
    float: left;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 18%;
    text-align: center; 
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #c73f3f;
    color: white;
  }

.tag{
    margin-top: 50px;
    margin-left: 100px;
    width: 1125px;
    height: 800px;
    float: left;
    background-color: #c73f3f;
    position: relative;
    border-radius: 100px;
    color: white;
    font-family: 'Montserrat';


}
h1#h1tag{
    line-height: 1;
    font-size: 200px;
    margin-left: 50px;

}
h2#h2tag{
    margin-left: 60px;
    margin-top: -125px;
}
  .picture{
    float: right;
    margin-left: 49.5vw;
    position: absolute;
    width: 50vw;
    overflow: hidden;

  }

  .about{
    width: 100%;
    height: 1000px;
    background-color: white;
    margin-top: 930px;
    margin-left: -8px;
  }
  .abouttitle{
    padding-top: 100px;
    font-weight: 800;
    font-family: 'Montserrat';
    font-size: 100px;
    width: 1400px;
    height: auto;
  }
  .description{
    font-family: 'Montserrat';
    font-weight: 300;
    width: 600px;
    font-size:30px;
    margin-left: 600px;
    margin-top: 80px;
  }
  .photos{
    border-radius: 100px;
    overflow: hidden;
    background-color: blue;
    float: left;
    width: 600px;
    height: 600px;
    margin-top: -565px;
    margin-left: 200px;
  }
